<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        metadata-complete="false"
        version="3.1">
    <servlet>
        <servlet-name>userlogin</servlet-name>
        <servlet-class>servlet.user.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userlogin</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userregister</servlet-name>
        <servlet-class>servlet.user.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userregister</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>verify</servlet-name>
        <servlet-class>servlet.user.VerifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verify</servlet-name>
        <url-pattern>/user/verify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userfind</servlet-name>
        <servlet-class>servlet.user.UserFindServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userget</servlet-name>
        <url-pattern>/user/get</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userget</servlet-name>
        <servlet-class>servlet.user.UserGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userfind</servlet-name>
        <url-pattern>/user/find</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>stream</servlet-name>
        <servlet-class>servlet.video.VideoShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stream</servlet-name>
        <url-pattern>/stream</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>servlet.video.VideoDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/video/download</url-pattern>
    </servlet-mapping>
</web-app>